[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic

[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate

[submodule ".vim/bundle/neocomplete.vim"]
	path = .vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim

[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree

[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized

[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion

[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8

[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors

[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/shichao-an/taglist.vim

[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter

[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround

[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired

[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go

[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown

[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet

[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim

[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim

[submodule ".vim/bundle/nerdtree-ag"]
	path = .vim/bundle/nerdtree-ag
	url = https://github.com/taiansu/nerdtree-ag

[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
